<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrafficSim.Sim" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TrafficSim.Sim>
            <setting name="HOLODECK_PORT" serializeAs="String">
                <value>50051</value>
            </setting>
            <setting name="StartLocX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartLocY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartWidth" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="StartHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="GrpcServerPort" serializeAs="String">
                <value>3456</value>
            </setting>
            <setting name="TestPort" serializeAs="String">
                <value>3457</value>
            </setting>
        </TrafficSim.Sim>
    </userSettings>
</configuration>